{"openapi":"3.0.0","info":{"description":"Questo servizio fornisce chiamate REST per estrarre informazioni su aziende e società dal codice IVA o FISCALE.\n\nA questo <a href='https://docs.openapi.it/company-sandbox-examples.html' target='_blank'>link</a> è possibile trovare un elenco di aziende che permettono di provare il servizio in un ambiente sandbox.","version":"1.0.0","title":"Company","termsOfService":"https://openapi.it/en/terms-and-conditions","contact":{"url":"https://openapi.it/en/support","name":"Support"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"servers":[{"url":"https://company.openapi.com","description":"Produzione"},{"url":"https://test.company.openapi.com","description":"Sandbox"}],"tags":[{"name":"IT","description":"Estrazione delle informazioni aziendali a partire dal codice IVA o FISCALE. Paese di riferimento: Italia"},{"name":"EU","description":"Estrazione di informazioni aziendali a partire dal codice IVA o FISCALE. Area di riferimento: Europa"},{"name":"FR","description":"Estrazione di informazioni aziendali a partire dalla partita IVA o dal codice Siret. Area di riferimento: Francia"},{"name":"DE","description":"Estrazione di informazioni aziendali a partire dall'IVA. Area di riferimento: Germania"},{"name":"ES","description":"Estrazione di informazioni aziendali a partire dall'IVA. Area di riferimento: Spagna"},{"name":"PT","description":"Estrazione di informazioni aziendali a partire dall'IVA. Area di riferimento: Portogallo"},{"name":"GB","description":"Estrazione di informazioni aziendali a partire dall'IVA. Area di riferimento: Gran Bretagna"},{"name":"BE","description":"Estrazione di informazioni aziendali a partire dall'IVA. Area di riferimento: Belgio"},{"name":"AT","description":"Estrazione di informazioni aziendali a partire dall'IVA. Area di riferimento:   Austria"},{"name":"CH","description":"Estrazione di informazioni aziendali a partire dall'IVA. Area di riferimento:   Svizzera"},{"name":"PL","description":"Estrazione di informazioni aziendali a partire dall'IVA. Area di riferimento:   Polonia"},{"name":"WW","description":"Estrazione di informazioni aziendali a partire dall'IVA. Area di riferimento: Mondo intero"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}},"schemas":{"Marketing":{"type":"object","properties":{"companyDetails":{"$ref":"#/components/schemas/companyDetails"},"companyStatus":{"$ref":"#/components/schemas/companyStatus"},"address":{"$ref":"#/components/schemas/address"},"branches":{"$ref":"#/components/schemas/branches"},"atecoClassification":{"$ref":"#/components/schemas/atecoClassification"},"internationalClassification":{"$ref":"#/components/schemas/internationalClassification"},"corporateGroups":{"$ref":"#/components/schemas/corporateGroups"},"employees":{"$ref":"#/components/schemas/employees"},"employeesStatistic":{"$ref":"#/components/schemas/employeesStatistic"},"innovativeSmeAndSu":{"$ref":"#/components/schemas/innovativeSmeAndSu"},"mail":{"$ref":"#/components/schemas/mail"},"contacts":{"$ref":"#/components/schemas/contacts"},"ecofin":{"$ref":"#/components/schemas/ecofin"},"webAndSocial":{"$ref":"#/components/schemas/webAndSocial"},"pec":{"$ref":"#/components/schemas/pec"},"allOffices":{"type":"array","items":{"type":"object","properties":{"companyDetails":{"$ref":"#/components/schemas/companyDetails"},"companyStatus":{"$ref":"#/components/schemas/companyStatus"},"address":{"$ref":"#/components/schemas/address"}}}}}},"Stakeholders":{"type":"object","properties":{"companyDetails":{"$ref":"#/components/schemas/companyDetails"},"address":{"$ref":"#/components/schemas/address"},"branches":{"$ref":"#/components/schemas/branches"},"managers":{"$ref":"#/components/schemas/managers"},"shareholders":{"$ref":"#/components/schemas/shareholders"},"corporateGroups":{"$ref":"#/components/schemas/corporateGroups"},"subsidiaries":{"$ref":"#/components/schemas/subsidiaries"},"affiliateCompanies":{"$ref":"#/components/schemas/affiliateCompanies"},"employees":{"$ref":"#/components/schemas/employees"},"employeesStatistic":{"$ref":"#/components/schemas/employeesStatistic"}}},"Aml":{"type":"object","properties":{"companyDetails":{"$ref":"#/components/schemas/companyDetails"},"address":{"$ref":"#/components/schemas/address"},"branches":{"$ref":"#/components/schemas/branches"},"managers":{"$ref":"#/components/schemas/managers"},"shareholders":{"$ref":"#/components/schemas/shareholders"},"corporateGroups":{"$ref":"#/components/schemas/corporateGroups"},"subsidiaries":{"$ref":"#/components/schemas/subsidiaries"},"affiliateCompanies":{"$ref":"#/components/schemas/affiliateCompanies"},"foreignTrade":{"$ref":"#/components/schemas/foreignTrade"},"publicTenders":{"$ref":"#/components/schemas/publicTenders"},"operatingResults":{"$ref":"#/components/schemas/operatingResults"},"ecofin":{"$ref":"#/components/schemas/ecofin"},"debts":{"$ref":"#/components/schemas/debts"},"rae":{"$ref":"#/components/schemas/rae"},"sae":{"$ref":"#/components/schemas/sae"}}},"Full":{"type":"object","properties":{"companyDetails":{"$ref":"#/components/schemas/companyDetails"},"legalForm":{"$ref":"#/components/schemas/legalForm"},"companyStatus":{"$ref":"#/components/schemas/companyStatus"},"companyDates":{"$ref":"#/components/schemas/companyDates"},"address":{"$ref":"#/components/schemas/address"},"marketable":{"$ref":"#/components/schemas/marketable"},"branches":{"$ref":"#/components/schemas/branches"},"atecoClassification":{"$ref":"#/components/schemas/atecoClassification"},"internationalClassification":{"$ref":"#/components/schemas/internationalClassification"},"ecofin":{"$ref":"#/components/schemas/ecofin"},"employees":{"$ref":"#/components/schemas/employees"},"operatingResults":{"$ref":"#/components/schemas/operatingResults"},"employeesStatistic":{"$ref":"#/components/schemas/employeesStatistic"},"innovativeSmeAndSu":{"$ref":"#/components/schemas/innovativeSmeAndSu"},"mail":{"$ref":"#/components/schemas/mail"},"contacts":{"$ref":"#/components/schemas/contacts"},"webAndSocial":{"$ref":"#/components/schemas/webAndSocial"},"pec":{"$ref":"#/components/schemas/pec"},"publicTenders":{"$ref":"#/components/schemas/publicTenders"},"foreignTrade":{"$ref":"#/components/schemas/foreignTrade"},"managers":{"$ref":"#/components/schemas/managers"},"shareholders":{"$ref":"#/components/schemas/shareholders"},"corporateGroups":{"$ref":"#/components/schemas/corporateGroups"},"subsidiaries":{"$ref":"#/components/schemas/subsidiaries"},"affiliateCompanies":{"$ref":"#/components/schemas/affiliateCompanies"},"artisanBusinessRegistry":{"$ref":"#/components/schemas/artisanBusinessRegistry"},"soaCertification":{"$ref":"#/components/schemas/soaCertification"},"assetsAggregateValues":{"$ref":"#/components/schemas/assetsAggregateValues"},"creditsToShareholders":{"$ref":"#/components/schemas/creditsToShareholders"},"intangibleFixedAssets":{"$ref":"#/components/schemas/intangibleFixedAssets"},"tangibleFixedAssets":{"$ref":"#/components/schemas/tangibleFixedAssets"},"financialFixedAssets":{"$ref":"#/components/schemas/financialFixedAssets"},"inventory":{"$ref":"#/components/schemas/inventory"},"credits":{"$ref":"#/components/schemas/credits"},"financialAssets":{"$ref":"#/components/schemas/financialAssets"},"cashEquivalents":{"$ref":"#/components/schemas/cashEquivalents"},"liabilitiesAggregateValues":{"$ref":"#/components/schemas/liabilitiesAggregateValues"},"netWorth":{"$ref":"#/components/schemas/netWorth"},"riskProvisions":{"$ref":"#/components/schemas/riskProvisions"},"debts":{"$ref":"#/components/schemas/debts"},"incomeStatementAggregateValues":{"$ref":"#/components/schemas/incomeStatementAggregateValues"},"productionValue":{"$ref":"#/components/schemas/productionValue"},"productionCosts":{"$ref":"#/components/schemas/productionCosts"},"revenuesFinancialCharges":{"$ref":"#/components/schemas/revenuesFinancialCharges"},"adjustments":{"$ref":"#/components/schemas/adjustments"},"annualResult":{"$ref":"#/components/schemas/annualResult"},"coverageRatios":{"$ref":"#/components/schemas/coverageRatios"},"development":{"$ref":"#/components/schemas/development"},"efficiency":{"$ref":"#/components/schemas/efficiency"},"financialBurden":{"$ref":"#/components/schemas/financialBurden"},"financialCycle":{"$ref":"#/components/schemas/financialCycle"},"financialStability":{"$ref":"#/components/schemas/financialStability"},"financialStatementKpi":{"$ref":"#/components/schemas/financialStatementKpi"},"indebtedness":{"$ref":"#/components/schemas/indebtedness"},"leverageRatios":{"$ref":"#/components/schemas/leverageRatios"},"liquidityRatios":{"$ref":"#/components/schemas/liquidityRatios"},"profitability":{"$ref":"#/components/schemas/profitability"},"structureRatios":{"$ref":"#/components/schemas/structureRatios"},"rae":{"$ref":"#/components/schemas/rae"},"sae":{"$ref":"#/components/schemas/sae"},"allOffices":{"type":"array","items":{"type":"object","properties":{"companyDetails":{"$ref":"#/components/schemas/companyDetails"},"companyStatus":{"$ref":"#/components/schemas/companyStatus"},"address":{"$ref":"#/components/schemas/address"}}}}}},"companyDetails":{"type":"object","properties":{"vatCode":{"type":"string","description":"Numero di partita IVA (Partita IVA)"},"taxCode":{"type":"string","description":"Codice fiscale (Codice Fiscale)"},"lastUpdateDate":{"type":"string","format":"date-time","description":"Ultimo aggiornamento dei dati aziendali"},"cciaa":{"type":"string","description":"Acronimo della città in cui è stata registrata l'azienda (ad esempio RM come Roma, MI come Milano ecc.)"},"reaCode":{"type":"string","description":"Numero di Repertorio Economico e Amministrativo per le Camere di Commercio"},"openapiNumber":{"type":"string","description":"Numero di identificazione interno"},"companyName":{"type":"string","description":"Nome legale dell'azienda"},"officeType":{"type":"object","properties":{"code":{"type":"string","description":"Codice del tipo di ufficio","enum":["SSL","SL","UL","S","D"]},"description":{"type":"string","description":"Descrizione del tipo di ufficio","enum":["Administrative headquarter and registered office","Registered office","Local units","Administrative headquarter","Division"]}}}}},"address":{"type":"object","properties":{"streetName":{"type":"string","description":"Nome della via in cui si trova l'ufficio"},"zipCode":{"type":"string","description":"Codice di avviamento postale (CAP) in cui è ubicato l'ufficio"},"town":{"type":"string","description":"Città in cui si trova l'ufficio"},"province":{"type":"object","properties":{"code":{"type":"string","description":"Contea (Provincia) in cui si trova l'ufficio"},"description":{"type":"string","description":"Nome completo della zona (Provincia) in cui si trova l'ufficio"}}},"region":{"type":"object","properties":{"code":{"type":"string","description":"Codice Area (Regione) in cui si trova l'ufficio"},"description":{"type":"string","description":"Nome completo dell'area (Regione) in cui si trova l'ufficio"}}},"country":{"type":"object","properties":{"code":{"type":"string","description":"Codice paese in cui si trova l'ufficio"},"description":{"type":"string","description":"Nome completo del paese in cui è situato l'ufficio"}}}}},"branches":{"type":"object","properties":{"numberOfBranches":{"type":"integer","description":"Numero di filiali"}}},"managers":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"name":{"type":"string","description":"Nome del responsabile"},"surname":{"type":"string","description":"Cognome del responsabile"},"roles":{"type":"array","items":{"type":"object","properties":{"role":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Qui</a> si trova la descrizione dei vari codici.","enum":["ASSSC","CAG","CES","COMC","DAQ","SOVRC","TI2","VPE","DS","IS","LUL","MASC","MCA","MGD","MINC","MSD","OPC","PCT","PG","RABBC","RAF","RAS","RC","PA0004","PA0034","PA0036","PA0050","PA0058","997997","ACR","C07","C11","COD","COMAC","CZ","DEPC","DI","SCR","SFI","SOC","SOP","STE","VCD","VDT","IMR","IN","PCO","PCS","PRA","PRE","RG","PA0010","PA0013","PA0020","PA0025","PA0029","PA0046","PA0052","PA0053","PA0059","AFF","ALLC","AMMIRC","AUP","C03","C19","COF","CUF","DIA","SOL","SQU","VCA","VDA","VICC","VIV","DL2","DLF","DRE","EXS","GER","LRF","MCS","MDC","OCO","ODI","OES","PDI","PS","QUEC","PA0005","PA0012","PA0018","PA0021","PA0030","PA0048","888888","AUN","C12","CAD","CEP","CF","CLD","COE","CON","COS","CPC","CU","DEP","SDR","SIE","SIP","TES","VDS","VPP","DSC","LGR","MCE","MPP","PF","PP","PRO","PRS","PRT","PSE","PTT","RAP","RECC","PA0001","PA0049","CMS","COP","COZ","CSG","DIVC","SAP","SNC","SOA","SPR","TESC","TU","US","DMKC","FU","GOV","GSG","KY","LI","LR2","MS","PCE","PDC","PDS","PE","PEP","PPP","PRP","PRSD","RE","PA0002","PA0032","PA0041","PA0044","PA0056","AF","CCG","CG","CGS","COA","COO","DCP","DE","SDRC","SOU","DRC","DRR","ELE","FC","LGT","LSA","MCD","MI","OPN","PARC","PASC","PB","PCD","PFT","PGD","PM","PRC","PRQ","PTR","RCF","RETEC","PA0009","PA0016","PA0060","PA0062","PA0063","AMBC","ASSC","C02","C09","C22","C28","CC","CI","CLR","CM","CNG","COLLC","CTE","DAM","DCO","DIV","RV","SFC","SLA","SLR","SQ","TTE","VDI","VID","MED","MGS","PSC","PT","RES","RETC","RIT","PA0003","PA0006","PA0022","PA0026","PA0028","AMM","AMS","ARVC","C08","C16","C26","CD","CDS","CDT","CONC","CPR","CUM","DAQC","DIR","SNA","SNQ","VDC","VIC","DP","DPC","GID","IMN","LRT","MA","MCT","MGC","PC","PCG","PCP","PEO","PTE","RAZ","RCD","RPS","PA0007","PA0038","PA0054","PAR","999999","ASO","C21","CE","COL","COV","CS","CSMC","CST","CUV","DA","DF","VICPREFC","VSC","VSG","DNC","DR","DTC","LIG","MCG","MGE","MP","OCA","PGT","PL","PSS","RCS","LIG","MCG","MGE","MP","OCA","PGT","PL","PN","PSS","RCS","PA0027","PA0039","PA0061","RTE","992992","998998","ADP","AMG","APR","ART","C15","C17","C23","C32","C34","CT","CUE","DG","RSU","SEGC","SNP","SOR","UM1","VAD","VCG","VGD","VPA","KV","LER","MA_","OAS","PA","PCV","PES","PGS","PR","PTS","RCO","RFM","PA0008","PA0014","PA0015","PA0023","PA0040","PADC","996996","ACP","AMP","ATI","C13","C14","C18","C20","CDG","CLT","COM","CRT","CSA","DAC","DC","DEC","DES","RSS","RTC","SAB","SEP","SOF","SOS","TPS","UM2","VDE","VGE","VGO","VICPRC","DMK","DT","FAT","NE","OPA","PCA","PGC","PGE","RDF","RIN","PA0011","PA0019","PA0033","PA0035","PA0051","PA0055","PA0057","ND99","AMD","C01","C29","CA","CAPC","CDP","CGE","COG","COLLDC","COT","CSS","CVE","DGC","DIP","SA","SCA","SIS","SON","SOT","TI","TIT","VCO","VDG","VED","VESC","VSD","DRG","DSA","DTD","DZ","GE","IG","PAD","PAF","PCM","PED","PGF","PGM","PPR","PREC","PROVC","PSD","RA","PA0017","PA0024","PA0031","PA0037","PA0042","PA0043","PA0045","PA0047","RTA"]},"description":{"type":"string","description":"Descrizione del ruolo del manager in azienda"}}},"roleStartDate":{"type":"string","format":"date-time","description":"Data di inizio del ruolo del manager nella società. Il campo data di inizio corrisponde alla Data di registrazione in quest'ordine di priorità data di registrazione, data di iscrizione nel registro dei soci, data dell'atto di nomina"}}}},"gender":{"type":"object","properties":{"code":{"type":"string","description":"Codice di genere (M/N)","enum":["M","W"]},"description":{"type":"string","description":"Descrizione del genere (uomo/donna)"}}},"taxCode":{"type":"string","description":"Codice fiscale (Codice Fiscale)"},"birthDate":{"type":"string","format":"date-time","description":"Data di nascita del manager"},"age":{"type":"integer","description":"Età del manager"},"birthTown":{"type":"string","description":"Città di nascita del manager"},"isLegalRepresentative":{"type":"boolean","description":"Il campo indica se il manager è anche il rappresentante legale dell'azienda (vero / falso)"}}},{"type":"object","properties":{"companyName":{"type":"string","description":"Nome legale dell'azienda"},"roles":{"type":"array","items":{"type":"object","properties":{"role":{"type":"object","properties":{"code":{"type":"string","description":"Codice del ruolo del manager in azienda"},"description":{"type":"string","description":"Descrizione del ruolo del manager in azienda"}}},"roleStartDate":{"type":"string","format":"date-time","description":"Data di inizio del ruolo del manager nella società. Il campo data di inizio corrisponde alla Data di registrazione in quest'ordine di priorità data di registrazione, data di iscrizione nel registro dei soci, data dell'atto di nomina"}}}},"taxCode":{"type":"string","description":"Codice fiscale del gestore"},"isLegalRepresentative":{"type":"boolean","description":"Il campo indica se il manager è anche il rappresentante legale dell'azienda (vero / falso)"}}}]}},"shareholders":{"type":"array","items":{"type":"object","properties":{"shareholdersInformation":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"taxCode":{"type":"string","description":"Codice fiscale dell'azionista"},"name":{"type":"string","description":"Nome dell'azionista"},"surname":{"type":"string","description":"Cognome dell'azionista"},"streetName":{"type":"string","description":"Indirizzo del domicilio dell'azionista"},"sinceDate":{"type":"string","format":"date-time","description":"Data di inizio del ruolo dell'azionista nella società"},"zipCode":{"type":"string","description":"Codice postale del domicilio dell'azionista"},"town":{"type":"string","description":"Città del domicilio dell'azionista"}}},{"type":"object","properties":{"taxCode":{"type":"string","description":"Codice fiscale dell'azionista"},"openapiNumber":{"type":"string","description":"Numero di identificazione interno"},"companyName":{"type":"string","description":"Nome della società"},"sinceDate":{"type":"string","format":"date-time","description":"Data di inizio del ruolo dell'azionista nella società"},"streetName":{"type":"string","description":"Indirizzo di domicilio (per le persone fisiche) o sede legale (per le società)"},"zipCode":{"type":"string","description":"Codice postale della sede legale dell'azionista"},"town":{"type":"string","description":"Città della sede legale dell'azionista"}}}]}},"percentShare":{"type":"number","format":"double","description":"Percentuale di proprietà della società (%)"}}}},"corporateGroups":{"type":"object","properties":{"belongsToGroup":{"type":"boolean","description":"Il campo indica se l'azienda fa parte di una Corporate"},"groupName":{"type":"string","description":"Nome del gruppo aziendale"},"holdingCompanyName":{"type":"string","description":"Nome della holding"},"holdingCountry":{"type":"object","properties":{"code":{"type":"string","description":"Codice del paese in cui ha sede la società di partecipazione"},"description":{"type":"string","description":"Paese in cui ha sede la holding"}}},"nationalParentCompany":{"type":"object","properties":{"companyName":{"type":"string","description":"Nome della società madre"},"streetName":{"type":"string","description":"Indirizzo della sede della società madre"},"town":{"type":"string","description":"Città della sede della società madre"},"zipCode":{"type":"string","description":"Codice postale della sede della società madre"},"province":{"type":"object","properties":{"code":{"type":"string","description":"Codice Area (Provincia) in cui ha sede la casa madre"},"description":{"type":"string","description":"Descrizione dell'area (provincia) in cui si trova la sede della società madre"}}},"country":{"type":"object","properties":{"code":{"type":"string","description":"Codice del Paese in cui si trova la sede centrale"},"description":{"type":"string","description":"Paese in cui si trova la sede centrale"}}}}},"hasForeignParentCompany":{"type":"boolean","description":"Il campo indica se la società madre è all'estero (vero/falso)"}}},"subsidiaries":{"type":"array","items":{"type":"object","properties":{"taxCode":{"type":"string","description":"Codice fiscale della società controllata"},"companyName":{"type":"string","description":"Nome della società controllata"},"streetName":{"type":"string","description":"Indirizzo della società controllata"},"zipCode":{"type":"string","description":"Codice postale della società affiliata"},"town":{"type":"string","description":"Città della società controllata"},"province":{"type":"object","properties":{"code":{"type":"string","description":"Codice Area (Provincia) della società controllata"},"description":{"type":"string","description":"Area (Provincia) della società controllata"}}}}}},"affiliateCompanies":{"type":"object","properties":{"taxCode":{"type":"string","description":"Codice fiscale della società affiliata"},"companyName":{"type":"string","description":"Nome della società affiliata"},"percentShare":{"type":"number","format":"double","description":"Percentuale della società affiliata"}}},"foreignTrade":{"type":"object","properties":{"isImporter":{"type":"boolean","description":"Il campo indica se l'azienda importa dall'estero (vero/falso). Le informazioni sulle importazioni provengono da interviste, quindi la percentuale è stata fornita dall'azienda"},"importPercentShare":{"type":"integer","description":"Percentuale di beni importati"},"importCountries":{"type":"string","description":"Nome dei paesi da cui l'azienda importa"},"isExporter":{"type":"boolean","description":"Il campo indica se l'azienda esporta all'estero (vero/falso). Le informazioni sull'esportazione hanno una fonte di intervista o una fonte di nota"},"exportPercentShare":{"type":"integer","description":"Percentuale di merci esportate"},"exportCountries":{"type":"string","description":"Nome dei paesi in cui l'azienda esporta"}}},"publicTenders":{"type":"array","items":{"type":"object","properties":{"year":{"type":"string","description":"Questo campo indica l'ultimo anno di partecipazione a gare d'appalto pubbliche"},"applied":{"type":"integer","description":"Questo campo mostra il numero di gare d'appalto pubbliche a cui l'azienda ha partecipato"},"won":{"type":"integer","description":"Questo campo mostra il numero di gare d'appalto pubbliche vinte dall'azienda"},"value":{"type":"number","format":"double","description":"Questo campo indica il valore delle gare d'appalto pubbliche vinte dall'azienda"}}}},"operatingResults":{"type":"object","properties":{"ebitda":{"type":"number","format":"double","description":"EBITDA è l'acronimo di Earning Before Interest Tax Depreciation Amortisation ed è sinonimo di Margine Operativo Lordo (MOL). È un indicatore di redditività e rappresenta l'utile prima degli oneri finanziari, delle imposte, degli ammortamenti e delle svalutazioni. L'EBITDA è calcolato come segue: Valore della produzione - Costi delle materie prime - Costi dei servizi - Costi del personale - Costi operativi"},"ebitdaL2Y":{"type":"number","format":"double","description":"EBITDA con riferimento agli ultimi 2 anni"},"ebit":{"type":"number","format":"double","description":"EBIT è l'acronimo di Earnings Before Interests and Taxes (in italiano Risultato Operativo o Margine operativo Netto - MON) ed è un indicatore per valutare la redditività di un'azienda. L'EBIT è il margine prodotto dall'attività senza considerare gli oneri finanziari e le imposte. L'EBIT è il risultato di EBITDA - Costi operativi comprensivi di ammortamento"},"ebitL2Y":{"type":"number","format":"double","description":"EBIT con riferimento agli ultimi 2 anni"},"cashFlow":{"type":"number","format":"double","description":"Il flusso di cassa indica le variazioni positive o negative della liquidità dell'azienda che si verificano in un anno"},"cashFlowL2Y":{"type":"number","format":"double","description":"Il flusso di cassa indica le variazioni positive o negative della liquidità dell'azienda che si verificano negli ultimi due anni"}}},"ecofin":{"type":"object","properties":{"balanceSheetDate":{"type":"string","format":"date-time","description":"Data di presentazione dell'ultimo bilancio"},"turnoverRange":{"type":"object","properties":{"code":{"type":"string","description":"Codice della gamma di fatturato"},"description":{"type":"string","description":"Intervallo di fatturato (ad es. 1000000 - 4999999)"}}},"turnoverYear":{"type":"integer","description":"Anno di riferimento del fatturato"},"turnover":{"type":"number","format":"double","description":"Importo del fatturato"},"turnoverTrend":{"type":"number","format":"double","description":"L'andamento del fatturato è la crescita del fatturato nell'ultimo anno disponibile rispetto all'anno precedente"},"shareCapital":{"type":"number","format":"double","description":"L'importo del capitale sociale"},"netWorth":{"type":"number","format":"double","description":"L'ammontare del patrimonio netto"},"enterpriseSize":{"type":"object","properties":{"code":{"type":"string","description":"Codice della gamma di dimensioni dell'impresa"},"description":{"type":"string","description":"Descrizione delle dimensioni dell'azienda (ad es. piccola impresa)"}}}}},"debts":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Qui</a> potete trovare la descrizione dei vari codici.","enum":["IIC116","IIC117","IIC090","IIC091","IIC329","IIC092","IIC093","IIC330","IIC184","IIC185","IIC331","IIC094","IIC095","IIC332","IIC096","IIC097","IIC333","IIC098","IIC099","IIC334","IIC100","IIC101","IIC335","IIC102","IIC103","IIC336","IIC104","IIC105","IIC337","IIC106","IIC107","IIC338","IIC108","IIC109","IIC339","IIC220","IIC221","IIC340","IIC110","IIC111","IIC341","IIC112","IIC113","IIC342","IIC114","IIC115","IIC343"]},"value":{"type":"number","format":"double"}}},"companyStatus":{"type":"object","properties":{"activityStatus":{"type":"object","properties":{"code":{"type":"string","description":"Codice di stato dell'azienda","enum":["A","CF","CS","I","IF","IS","S"]},"description":{"type":"string","description":"Stato dell'azienda (ad es. abilitazione)","enum":["Enable","Out of business (in a positive way)","Out of business (in a negative way)","Inactive","In closure (in a positive way)","In closure (in a negative way)","Dormant"]}}}}},"atecoClassification":{"type":"object","properties":{"ateco":{"type":"object","properties":{"code":{"type":"string","description":"Codice ATECO 2025 di primo livello (sistema di classificazione delle attività economiche) e viene comunicato all'Agenzia delle Entrate al momento dell'apertura della partita IVA e quindi della creazione di una nuova impresa.  Il codice Ateco 2025 è una combinazione alfanumerica che identifica un'attività economica. Le lettere identificano il macrosettore economico mentre i numeri (da due a sei cifre) rappresentano, con diverso grado di dettaglio, le specifiche sottocategorie dei settori stessi. Le attività economiche sono raggruppate in modo sempre più dettagliato secondo: Sezioni (1 lettera), Divisioni (numero a 2 cifre), Gruppi (numero a 3 cifre), Classi (numero a 4 cifre), Categorie (numero a 5 cifre), Sottocategorie (numero a 6 cifre). Il codice ATECO 2025 può essere modificato dall'azienda ma deve essere sempre comunicato all'Agenzia delle Entrate"},"description":{"type":"string","description":"Descrizione del primo livello 2025 Codice ATECO"}}},"secondaryAteco":{"type":"string","description":"Codice ATECO 2025 di livello secondario. Le imprese che svolgono diverse attività economiche possono avere un codice ATECO 2025 primario e uno secondario. Il primario indica l'attività prevalente. Il secondario specifica l'altra natura dei servizi offerti"},"ateco2022":{"type":"object","properties":{"code":{"type":"string","description":"Codice ATECO 2022 di primo livello (sistema di classificazione delle attività economiche) e viene comunicato all'Agenzia delle Entrate al momento dell'apertura della partita IVA e quindi della creazione di una nuova impresa.  Il codice Ateco 2022 è una combinazione alfanumerica che identifica un'attività economica. Le lettere identificano il macrosettore economico mentre i numeri (da due a sei cifre) rappresentano, con diverso grado di dettaglio, le specifiche sottocategorie dei settori stessi. Le attività economiche sono raggruppate in modo sempre più dettagliato secondo: Sezioni (1 lettera), Divisioni (numero a 2 cifre), Gruppi (numero a 3 cifre), Classi (numero a 4 cifre), Categorie (numero a 5 cifre), Sottocategorie (numero a 6 cifre). Il codice ATECO 2022 può essere modificato dall'azienda ma deve essere sempre comunicato all'Agenzia delle Entrate"},"description":{"type":"string","description":"Descrizione del primo livello 2022 Codice ATECO"}}},"secondaryAteco2022":{"type":"string","description":"Codice ATECO 2022 di livello secondario. Le imprese che svolgono diverse attività economiche possono avere un codice ATECO 2022 primario e uno secondario. Il primario indica l'attività prevalente. Il secondario specifica l'altra natura dei servizi offerti"}}},"internationalClassification":{"type":"object","properties":{"primarySic":{"type":"object","properties":{"code":{"type":"string","description":"Codice SIC primario (sistema di classificazione delle attività economiche negli Stati Uniti) Il sistema di classificazione utilizza numeri codificati a quattro cifre che classificano le aziende per settore. Le prime due cifre classificano il gruppo principale. La terza cifra definisce ulteriormente il gruppo industriale. L'ultima cifra indica il settore industriale. Ogni azienda può essere classificata con un codice SIC"},"description":{"type":"string","description":"Descrizione del codice SIC primario (un sistema di classificazione delle attività economiche negli Stati Uniti)"}}},"secondarySic":{"type":"string","description":"Descrizione del codice SIC secondario (un sistema di classificazione delle attività economiche negli Stati Uniti). Le imprese possono avere fino a cinque codici SIC secondari. I codici SIC secondari classificano altri settori in cui l'azienda è coinvolta, ma non sono l'obiettivo principale"}}},"employees":{"type":"object","properties":{"employeeRange":{"type":"object","properties":{"code":{"type":"string","description":"Codice per l'intervallo del numero di dipendenti"},"description":{"type":"string","description":"Intervallo del numero di dipendenti"}}},"employee":{"type":"integer","description":"Numero di dipendenti"},"employeeTrend":{"type":"integer","description":"L'andamento dei dipendenti è la crescita del numero di dipendenti nell'anno in corso rispetto all'anno precedente (%)"}}},"employeesStatistic":{"type":"object","properties":{"fixedTermContract":{"type":"number","format":"double","description":"Percentuale di dipendenti con contratto a tempo determinato (contratto a tempo determinato)"},"permanentContract":{"type":"number","format":"double","description":"Percentuale di dipendenti con contratto a tempo indeterminato"},"partialTimeContract":{"type":"number","format":"double","description":"Percentuale di dipendenti con contratto a tempo parziale"},"fullTimeContract":{"type":"number","format":"double","description":"Percentuale di dipendenti con contratto a tempo pieno (contratto full time)"},"director":{"type":"number","format":"double","description":"Percentuale di dipendenti con un ruolo aziendale: direttore (in italiano dirigente)"},"frameworkContract":{"type":"number","format":"double","description":"Percentuale di dipendenti con ruolo aziendale: contratto quadro (in italiano quadro)"},"whiteCollar":{"type":"number","format":"double","description":"Percentuale di dipendenti con ruolo aziendale: colletti bianchi (in italiano impiegato)"},"apprentice":{"type":"number","format":"double","description":"Percentuale di dipendenti con un ruolo aziendale: apprendista (in italiano apprendistato)"}}},"innovativeSmeAndSu":{"type":"object","properties":{"isInnovativeStartUp":{"type":"boolean","description":"Il campo indica se l'azienda è una startup innovativa (vero/falso), una sezione speciale del registro delle Camere di Commercio italiane"},"isInnovativeSme":{"type":"boolean","description":"Il campo indica se l'azienda è una PMI innovativa (vero/falso), una sezione speciale del registro delle Camere di Commercio italiane"}}},"mail":{"type":"object","properties":{"email":{"type":"string","description":"Email aziendale (es. info@company.com)"}}},"contacts":{"type":"object","properties":{"telephoneNumber":{"type":"string","description":"Numero di telefono dell'azienda"},"fax":{"type":"string","description":"Numero di fax dell'azienda"}}},"webAndSocial":{"type":"object","properties":{"hasSocial":{"type":"boolean","description":"Sociale"},"eCommerce":{"type":"string","description":"URL del commercio elettronico"},"website":{"type":"string","description":"URL del sito web"},"facebook":{"type":"string","description":"URL della pagina Facebook dell'azienda"},"youtube":{"type":"string","description":"URL del canale YouTube dell'azienda"},"twitter":{"type":"string","description":"URL del profilo Twitter dell'azienda"},"instagram":{"type":"string","description":"URL del profilo Instagram dell'azienda"},"linkedin":{"type":"string","description":"URL del profilo LinkedIn dell'azienda"},"pinterest":{"type":"string","description":"URL del profilo Pinterest dell'azienda"},"vimeo":{"type":"string","description":"URL del canale Vimeo dell'azienda"}}},"pec":{"type":"string","description":"Indirizzo PEC aziendale (Posta Elettronica Certificata)"},"legalForm":{"type":"object","properties":{"legalForm":{"type":"object","properties":{"code":{"type":"string","description":"Codice della categoria giuridica dell'azienda: SC (per \"Società per azioni\", in inglese Joint Stock Business) - AL (per \"Società di altre forme\", in inglese Company of Other Forms) - SP (per \"Partnership\", in inglese Partnership)","enum":["SC","AL","SP"]},"description":{"type":"string","description":"Nome completo della categoria giuridica dell'azienda: Società per azioni (in italiano Società di Capitali - codice SC), Società di Altre Forme (in italiano Società di Altre Forme, codice AL ), Società di Persone (per le \"Società di Persone\", codice SP)"}}},"detailedLegalForm":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Qui</a> potete trovare la descrizione dei vari codici.","enum":["AA","AC","AE","AF","AI","AL","AM","AN","AP","AR","AS","AT","AU","AZ","CC","CE","CF","CI","CL","CM","CN","CO","CR","CS","CZ","DI","EC","ED","EE","EI","EL","EM","EN","EP","ER","ES","FI","FO","GE","IC","ID","IF","IR","LL","MA","OC","OO","OS","PA","PC","PF","PS","RC","RR","RS","SA","SC","SD","SE","SF","SG","SI","SL","SM","SN","SO","SP","SR","SS","ST","SU","SV","SZ","XX"]},"description":{"type":"string","description":"Nome completo della forma giuridica dell'azienda"}}}}},"companyDates":{"type":"object","properties":{"registrationDate":{"type":"string","format":"date-time","description":"Data di iscrizione alla Camera di Commercio: la data di iscrizione dell'azienda alla Camera di Commercio, che può cambiare in caso di spostamenti e modifiche dell'azienda"},"startDate":{"type":"string","format":"date-time","description":"Data di inizio dell'attività dell'azienda"},"incorporationDate":{"type":"string","format":"date-time","description":""},"foundingDate":{"type":"string","format":"date-time","description":"La data di costituzione della società"},"endDate":{"type":"string","format":"date-time","description":"Data di cessazione della società"}}},"marketable":{"type":"object","properties":{"isMarketable":{"type":"boolean","description":"Il campo Marketable identifica le aziende in attività, ovvero l'insieme delle aziende che non hanno cessato l'attività e non stanno chiudendo"}}},"artisanBusinessRegistry":{"type":"object","properties":{"belongsToArtisanBusinessRegistry":{"type":"boolean","description":"Questo campo indica se l'azienda è iscritta all'albo speciale Artigiani della Camera di Commercio"},"artisanBusinessRegistry":{"type":"object","properties":{"registrationDate":{"type":"string","format":"date-time","description":"Data di iscrizione all'albo speciale Artigiani presso la Camera di Commercio"},"registrationNumber":{"type":"string","description":"Numero di iscrizione all'albo speciale Artigiani della Camera di Commercio"}}}}},"soaCertification":{"type":"object","properties":{"hasSoaCertification":{"type":"boolean","description":"Questo campo indica se l'azienda dispone di una certificazione SOA (vero/falso)"}}},"assetsAggregateValues":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Qui</a> potete trovare la descrizione dei vari codici.","enum":["IIC001","IIC039","IIC071","IIC072","IIC073","IIC074"]},"value":{"type":"number","format":"double"}}},"creditsToShareholders":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Qui</a> potete trovare la descrizione dei vari codici.","enum":["IIC193","IIC002"]},"value":{"type":"number","format":"double"}}},"intangibleFixedAssets":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Qui</a> potete trovare la descrizione dei vari codici.","enum":["IIC011","IIC003","IIC004","IIC005","IIC006","IIC007","IIC008","IIC009","IIC010"]},"value":{"type":"number","format":"double"}}},"tangibleFixedAssets":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Qui</a> potete trovare la descrizione dei vari codici.","enum":["IIC018","IIC012","IIC013","IIC014","IIC015","IIC016","IIC017"]},"value":{"type":"number","format":"double"}}},"financialFixedAssets":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Qui</a> potete trovare la descrizione dei vari codici.","enum":["IIC038","IIC032","IIC033","IIC023","IIC019","IIC020","IIC021","IIC194","IIC022","IIC034","IIC024","IIC025","IIC316","IIC026","IIC027","IIC317","IIC028","IIC029","IIC318","IIC195","IIC196","IIC319","IIC030","IIC031","IIC320","IIC035","IIC036","IIC037","IIC197","IIC344"]},"value":{"type":"number","format":"double"}}},"inventory":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Qui</a> potete trovare la descrizione dei vari codici.","enum":["IIC045","IIC040","IIC041","IIC042","IIC043","IIC044","IIC349"]},"value":{"type":"number","format":"double"}}},"credits":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Qui</a> potete trovare la descrizione dei vari codici.","enum":["IIC058","IIC056","IIC057","IIC046","IIC047","IIC321","IIC048","IIC049","IIC322","IIC050","IIC051","IIC323","IIC052","IIC053","IIC324","IIC198","IIC199","IIC325","IIC180","IIC181","IIC326","IIC054","IIC055","IIC328","IIC182","IIC183","IIC327"]},"value":{"type":"number","format":"double"}}},"financialAssets":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Qui</a> potete trovare la descrizione dei vari codici.","enum":["IIC066","IIC059","IIC060","IIC061","IIC200","IIC062","IIC063","IIC064","IIC201","IIC065","IIC202"]},"value":{"type":"number","format":"double"}}},"cashEquivalents":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Qui</a> potete trovare la descrizione dei vari codici.","enum":["IIC070","IIC067","IIC068","IIC069"]},"value":{"type":"number","format":"double"}}},"liabilitiesAggregateValues":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Qui</a> potete trovare la descrizione dei vari codici.","enum":["IIC084","IIC088","IIC089","IIC118","IIC119","IIC120","IIC121","IIC122","IIC123"]},"value":{"type":"number","format":"double"}}},"netWorth":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Qui</a> potete trovare la descrizione dei vari codici.","enum":["IIC075","IIC076","IIC077","IIC078","IIC079","IIC080","IIC081","IIC082","IIC083","IIC203","IIC204","IIC205","IIC206","IIC207","IIC208","IIC209","IIC210","IIC211","IIC212","IIC213","IIC345","IIC214","IIC215","IIC216","IIC218"]},"value":{"type":"number","format":"double"}}},"riskProvisions":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Qui</a> potete trovare la descrizione dei vari codici.","enum":["IIC085","IIC086","IIC219","IIC087"]},"value":{"type":"number","format":"double"}}},"incomeStatementAggregateValues":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Qui</a> potete trovare la descrizione dei vari codici.","enum":["IIC130","IIC149","IIC224","IIC161","IIC170","IIC176"]},"value":{"type":"number","format":"double"}}},"productionValue":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Qui</a> potete trovare la descrizione dei vari codici.","enum":["IIC124","IIC125","IIC126","IIC186","IIC127","IIC128","IIC129","IIC223"]},"value":{"type":"number","format":"double"}}},"productionCosts":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Qui</a> si trova la descrizione dei vari codici.","enum":["IIC131","IIC132","IIC133","IIC139","IIC134","IIC135","IIC136","IIC137","IIC138","IIC187","IIC144","IIC140","IIC141","IIC142","IIC188","IIC143","IIC145","IIC146","IIC147","IIC148"]},"value":{"type":"number","format":"double"}}},"revenuesFinancialCharges":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Qui</a> si trova la descrizione dei vari codici.","enum":["IIC150","IIC151","IIC225","IIC226","IIC227","IIC228","IIC229","IIC158","IIC152","IIC153","IIC230","IPL231","IPL232","IIC233","IIC234","IIC154","IIC155","IIC189","IIC156","IIC157","IIC235","IIC236","IIC237","IIC238","IIC239","IIC159","IIC160","IIC240","IIC241","IIC242","IIC243","IIC244","IIC190"]},"value":{"type":"number","format":"double"}}},"adjustments":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Qui</a> si trova la descrizione dei vari codici.","enum":["IIC165","IIC162","IIC163","IIC164","IIC245","IIC350","IIC169","IIC166","IIC167","IIC168","IIC246","IICC351"]},"value":{"type":"number","format":"double"}}},"annualResult":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Qui</a> si trova la descrizione dei vari codici.","enum":["IIC171","IIC172","IIC173","IIC175","IIC174","IIC177","IIC178","IIC191","IIC347","IIC192","IIC250","IIC179"]},"value":{"type":"number","format":"double"}}},"coverageRatios":{"type":"object","properties":{"ebitdaNetInterestCoverage":{"type":"number","format":"double","description":"Il rapporto tra EBITDA e copertura degli interessi è un indice finanziario utilizzato per valutare la solidità finanziaria di un'azienda. Un rapporto superiore a 1 indica che l'azienda ha una copertura degli interessi più che sufficiente per pagare gli interessi passivi. L'EBITDA Net Interest Coverage è il risultato di EBITDA / ( oneri finanziari - altri proventi totali)"},"ffoNetInterestCoverage":{"type":"number","format":"double","description":"L'FFO Net Interest Coverage è il risultato di (Fondi da operazioni - Interessi netti pagati) / (Interessi netti pagati)"},"ebitNetInterestCoverage":{"type":"number","format":"double","description":"L'indice di copertura degli interessi è un indice di indebitamento e di redditività utilizzato per determinare la facilità con cui un'azienda può pagare gli interessi sul suo debito residuo. Quando il rapporto di copertura degli interessi di una società è pari o inferiore a 1,5, la sua capacità di far fronte alle spese per interessi può essere dubbia. L'EBIT Net Interest Coverage è il risultato di EBIT / (Oneri finanziari - Altri ricavi totali)"},"ebitdaGrossInterestCoverage":{"type":"number","format":"double","description":"Il rapporto tra EBITDA e copertura degli interessi è un indice finanziario utilizzato per valutare la solidità finanziaria di un'azienda. Un rapporto superiore a 1 indica che l'azienda ha una copertura degli interessi più che sufficiente per pagare gli interessi passivi. L'EBITDA Net Interest Coverage è il risultato di EBITDA / ( oneri finanziari - altri proventi totali)"},"ebitGrossInterestCoverage":{"type":"number","format":"double","description":"L'indice di copertura degli interessi è un indice di indebitamento e di redditività utilizzato per determinare la facilità con cui un'azienda può pagare gli interessi sul suo debito residuo. Quando il rapporto di copertura degli interessi di un'azienda è pari o inferiore a 1,5, la sua capacità di far fronte alle spese per interessi può essere dubbia. L'EBIT Gross Interest Coverage è il risultato di EBIT / Oneri Finanziari"}}},"development":{"type":"object","properties":{"ebitVariation":{"type":"number","format":"double","description":"Variazione percentuale dell'EBITDA rispetto all'anno precedente (%)"},"grossFinancialDebt":{"type":"number","format":"double","description":"Variazione percentuale dell'indebitamento finanziario lordo rispetto all'anno precedente (%)"},"totalAssets":{"type":"number","format":"double","description":"La percentuale di variazione delle attività totali (%)"},"mol":{"type":"number","format":"double","description":"Variazione percentuale dell'EBITDA rispetto all'anno precedente (%)"},"addedValue":{"type":"number","format":"double","description":"La percentuale di variazione del valore aggiunto rispetto all'anno precedente (%)"},"productionValue":{"type":"number","format":"double","description":"La percentuale di variazione del valore della produzione rispetto all'anno precedente (%)"}}},"efficiency":{"type":"object","properties":{"turnoverIndex":{"type":"number","format":"double","description":"L'indice di fatturato misura l'efficienza con cui un'azienda utilizza le proprie risorse per produrre vendite e, nello specifico, l'indicatore esprime il ricavo medio per unità di investimento. L'indice di rotazione è il risultato Valore della produzione / Totale attivo"},"inventoryRotation":{"type":"number","format":"double","description":"La rotazione delle scorte misura l'efficienza della gestione delle scorte mettendo in relazione i ricavi delle vendite con le scorte finali. La rotazione delle scorte è il risultato di Valore della produzione / Rimanenze"},"currentAssetsRotation":{"type":"number","format":"double","description":"La rotazione delle attività correnti indica la capacità di rinnovare il capitale circolante da utilizzare per la nuova produzione. La rotazione delle attività correnti è il risultato del rapporto tra valore della produzione e attività correnti"},"accountsReceivableRotation":{"type":"number","format":"double","description":"La rotazione dei crediti contabili misura la velocità con cui i crediti derivanti dalle vendite vengono restituiti in forma liquida. La rotazione dei crediti è il risultato di Valore della produzione / Crediti verso i clienti"}}},"financialBurden":{"type":"object","properties":{"rod":{"type":"number","format":"double","description":"Il ROD (Return On Debt) è un indice di bilancio che misura il valore, in termini percentuali, del rendimento del capitale preso a prestito. Il ROD è il risultato di Spese finanziarie/Totale del debito (%)"},"rodFinanziario":{"type":"number","format":"double","description":"Il ROD (Return On Debt) finanziario è il risultato di Spese finanziarie / (Debiti bancari + Debiti verso altri finanziatori) (%)"},"burdenIndex":{"type":"number","format":"double","description":""}}},"financialCycle":{"type":"object","properties":{"accountsReceivableDuration":{"type":"number","format":"double","description":"La durata dei crediti (giorni) fornisce un'indicazione media del tempo (in giorni) trascorso tra la vendita e l'incasso. È il risultato di (Crediti verso clienti / Valore della produzione) * 365 (giorni)"},"stockDuration":{"type":"number","format":"double","description":"La durata delle scorte indica il tempo, in giorni, necessario affinché l'investimento in scorte diventi disponibile per l'azienda in forma liquida. La durata delle scorte è il risultato di (Rimanenze / Valore della produzione) * 365 (giorni)"},"debtsToSuppliersDuration":{"type":"number","format":"double","description":"La durata dei debiti verso i fornitori fornisce un'indicazione del tempo medio concesso all'azienda per differire il pagamento da parte dei suoi fornitori, ovvero il numero di giorni che intercorrono tra l'acquisto di beni e servizi e il loro pagamento. La durata dei debiti verso i fornitori è il risultato di (Debiti verso i fornitori/(Acquisti di materiali + Servizi + Utilizzo di beni di terzi) * 365 (giorni)"},"financialCycleDuration":{"type":"number","format":"double","description":"La durata del ciclo finanziario (giorni) è il risultato della durata dei crediti verso i clienti + durata delle scorte - durata dei debiti verso i fornitori (giorni)"}}},"financialStability":{"type":"object","properties":{"secondaryMarginStructure":{"type":"number","format":"double","description":"Il margine di struttura secondario/allocato misura la solidità di un'azienda attraverso la sua capacità di finanziare le attività fisse con un indebitamento sostenibile. Un indice di margine di struttura secondario positivo o in pareggio indica una correlazione soddisfacente tra le fonti di finanziamento a medio o lungo termine e gli investimenti altrettanto a medio o lungo termine. Un indice negativo, invece, indica che le attività fisse non sono coperte solo dal capitale proprio, ma anche da una parte delle passività correnti, il che potrebbe significare che l'azienda dovrà affrontare problemi di solvibilità finanziaria nel breve termine. Il Margine di struttura secondario/esteso è il risultato di Patrimonio netto + Debiti a medio-lungo termine - Attività fisse"},"marginStructure":{"type":"number","format":"double","description":"Il margine di struttura misura la capacità della società di investire nelle proprie attività fisse attraverso il capitale versato dagli azionisti. Il margine di struttura è il risultato di Patrimonio netto - Immobilizzazioni"},"fixedAssetsCoverageRate":{"type":"number","format":"double","description":"Il tasso di copertura delle immobilizzazioni è un indicatore patrimoniale utilizzato per mostrare l'equilibrio tra capitale proprio e investimenti fissi. Il tasso di copertura delle attività fisse è il risultato di (capitale proprio + debiti a medio-lungo termine) / attività fisse (%)"},"marginStructureIndex":{"type":"number","format":"double","description":"L'indice del margine di struttura è il risultato del rapporto tra capitale proprio e capitale fisso"},"workingCapitalCoverage":{"type":"number","format":"double","description":"La copertura del capitale circolante misura la capacità dell'azienda di generare liquidità dalle proprie attività operative ed è il risultato di Capitale circolante netto (CCN) / Valore della produzione"},"acidTest":{"type":"number","format":"double","description":"L'Acid Test misura la capacità dell'azienda di far fronte agli impegni a breve termine utilizzando solo le attività correnti al netto delle scorte. Il rapporto di liquidità immediata è il risultato di (Attività correnti-Ricavi) / Passività correnti"},"currentRatio":{"type":"number","format":"double","description":"L'indice di liquidità mostra la capacità dell'azienda di far fronte agli impegni a breve termine utilizzando solo le attività correnti. Un valore superiore a 1 indica che l'azienda è potenzialmente in grado di far fronte agli impegni a breve termine senza intaccare la propria struttura finanziaria e senza ricorrere a fonti di indebitamento alternative. Valori inferiori a 1 indicano una situazione potenzialmente difficile nel breve periodo.  Il rapporto corrente è il risultato di Attività correnti/Passività correnti"}}},"financialStatementKpi":{"type":"object","properties":{"debtsTurnover":{"type":"number","format":"double","description":"Il Debts Turnover Ratio (chiamato anche Receivables Turnover Ratio) indica la rapidità con cui le vendite a credito vengono convertite in contanti e misura l'efficienza di un'azienda nella gestione e nella riscossione dei crediti concessi ai clienti. È un indice di attività che rileva il rapporto tra le vendite a credito e i crediti commerciali medi di un'azienda"},"totalInventoryTurnover":{"type":"number","format":"double","description":"L'indice di rotazione del magazzino è il numero di volte in cui un'azienda vende e sostituisce il proprio stock di merci in un determinato periodo. Considera il costo dei beni venduti rispetto alla media delle scorte di un anno o di un determinato periodo di tempo"}}},"indebtedness":{"type":"object","properties":{"bankDebtTotalAssets":{"type":"number","format":"double","description":"Il rapporto debito totale/attività totali è un indice di leva finanziaria che definisce la quantità di debito di un'azienda rispetto alle sue attività"},"grossFinancialDebtTotalAssets":{"type":"number","format":"double","description":"L'indebitamento finanziario lordo e l'attivo totale sono il risultato di Indebitamento finanziario lordo e attivo totale"},"capitalizationDegree":{"type":"number","format":"double","description":"Il grado di capitalizzazione è il risultato del rapporto tra patrimonio netto e passività totali"},"leverage":{"type":"number","format":"double","description":"La leva finanziaria è il risultato di Attività totali / Patrimonio netto"},"bankDebtRatio":{"type":"number","format":"double","description":"L'indice di indebitamento bancario è il risultato di Debito bancario / Patrimonio netto"},"debtRatio":{"type":"number","format":"double","description":"Il Debt Ratio indica il peso dei finanziamenti di terzi rispetto agli investimenti totali dell'azienda. Valori estremamente elevati (soprattutto rispetto alla media del settore) possono segnalare anomalie strutturali dell'azienda e un onere finanziario eccessivo.  Il Debt Ratio è il risultato di Debito totale / Patrimonio netto"}}},"leverageRatios":{"type":"object","properties":{"pfnEbitda":{"type":"number","format":"double","description":"PFN/ EBITDA è un rapporto finanziario che indica la sostenibilità dell'indebitamento in relazione ai flussi di cassa generati"},"ebitdaNetLeverage":{"type":"number","format":"double","description":"Il rapporto debito netto/EBITDA (utile prima degli interessi, degli ammortamenti e delle svalutazioni) è una misura della leva finanziaria, calcolata come le passività per interessi di una società meno la liquidità o gli equivalenti di liquidità, divisa per il suo EBITDA"},"ffoNetLeverage":{"type":"number","format":"double","description":"La leva finanziaria netta FFO è il risultato di Indebitamento finanziario netto/ (Fondi da operazioni - Interessi netti corrispondenti)"},"ebitdaGrossLeverage":{"type":"number","format":"double","description":"Il rapporto debito netto/EBITDA (utile prima degli interessi, degli ammortamenti e delle svalutazioni) è una misura della leva finanziaria, calcolata come le passività per interessi di una società meno la liquidità o gli equivalenti di liquidità, divisa per il suo EBITDA"}}},"liquidityRatios":{"type":"object","properties":{"cashShortTermFinancialDebt":{"type":"number","format":"double","description":"Il debito a breve termine è costituito dalle obbligazioni finanziarie che devono essere pagate entro i 12 mesi successivi o entro l'anno fiscale in corso. È il risultato di attività liquide/debito Debito finanziario lordo a breve termine"},"cashShortTermBankDebt":{"type":"number","format":"double","description":"I debiti a breve termine sono i debiti verso le banche che devono essere pagati entro i prossimi 12 mesi o entro l'anno fiscale in corso. È il risultato di attività liquide / Debiti verso banche"},"cashTotalShortTermDebt":{"type":"number","format":"double","description":"I debiti a breve termine sono le obbligazioni che devono essere pagate entro i prossimi 12 mesi o entro l'anno fiscale in corso. È il risultato di attività liquide / debiti a breve termine"},"fcfShortTermFinancialDebt":{"type":"number","format":"double","description":"Il Free Cash Flow Short Term Financial Debt misura il rapporto tra la liquidità dell'azienda e il debito finanziario. È il risultato di Flusso di cassa libero / Debito finanziario lordo a breve termine"}}},"profitability":{"type":"object","properties":{"ros":{"type":"number","format":"double","description":"Il rendimento delle vendite (ROS) è un indice utilizzato per valutare l'efficienza operativa di un'azienda (%)"},"roe":{"type":"number","format":"double","description":"Il rendimento del patrimonio netto (ROE) è una misura della performance finanziaria calcolata dividendo l'utile netto per il patrimonio netto (%)"},"incidenceOfExtraFeaturesManagement":{"type":"number","format":"double","description":"Incidenza delle caratteristiche extra La gestione è l'utile - perdita dell'anno / MON* (%)"},"roi":{"type":"number","format":"double","description":"Il ritorno sull'investimento (ROI) è una popolare metrica di redditività utilizzata per valutare il rendimento di un investimento (%)"},"roaMonetary":{"type":"number","format":"double","description":"Il termine rendimento delle attività (ROA) si riferisce a un rapporto finanziario che indica la redditività di un'azienda in relazione alle sue attività totali. Il ROA monetario è il risultato di Flusso di cassa / Attività totali (%)"}}},"structureRatios":{"type":"object","properties":{"netFinancialDebtEquityNetWorth":{"type":"number","format":"double","description":"Il rapporto debito netto/debito netto più capitale proprio è un indice finanziario che misura la leva finanziaria di un'azienda confrontando il suo debito netto con la sua capitalizzazione totale"},"pfnNetWorth":{"type":"number","format":"double","description":""},"financialDebtComposition":{"type":"number","format":"double","description":""},"netDebtTotalSources":{"type":"number","format":"double","description":""},"grossFinancialDebtNetWorth":{"type":"number","format":"double","description":""}}},"rae":{"type":"object","properties":{"code":{"type":"string","description":"codice rae"},"description":{"type":"string","description":"Il codice RAE (ramo di attività economica) è un codice numerico a tre cifre utilizzato per classificare le aziende in base al settore di attività economica in cui operano"}}},"sae":{"type":"object","properties":{"code":{"type":"string","description":"codice sae"},"description":{"type":"string","description":"Il codice SAE (Economic Activity Sector) è un codice numerico utilizzato dalle banche italiane per classificare le aziende in base al settore di attività economica"}}},"Start":{"type":"object","properties":{"taxCode":{"type":"string","description":"Codice fiscale (Codice Fiscale)"},"companyName":{"type":"string","description":"Nome legale dell'azienda"},"vatCode":{"type":"string","description":"Numero di partita IVA (Partita IVA)"},"address":{"$ref":"#/components/schemas/Address"},"activityStatus":{"type":"string","description":"indica lo status dell'azienda secondo la Camera di Commercio Italiana","enum":["ATTIVA","REGISTRATA","INATTIVA","SOSPESA","IN_ISCRIZIONE","CESSATA"]},"creationTimestamp":{"type":"integer","description":"data interna di creazione della società"},"lastUpdateTimestamp":{"type":"integer","description":"Ultimo aggiornamento dei dati aziendali"},"sdiCode":{"type":"string","description":"codice sdi"},"sdiCodeTimestamp":{"type":"integer","description":"Ultimo aggiornamento del codice sdi"},"id":{"type":"string","description":"iD azienda"},"registrationDate":{"type":"string","description":"data di registrazione della società presso la Camera di commercio"}}},"Name":{"type":"object","properties":{"taxCode":{"type":"string","description":"Codice fiscale (Codice Fiscale)"},"companyName":{"type":"string","description":"Nome legale dell'azienda"},"vatCode":{"type":"string","description":"Numero di partita IVA (Partita IVA)"},"address":{"type":"object","properties":{"registeredOffice":{"type":"object","properties":{"town":{"type":"string","description":"Città in cui ha sede l'azienda"}}}}},"creationTimestamp":{"type":"integer","description":"data interna di creazione della società"},"lastUpdateTimestamp":{"type":"integer","description":"Ultimo aggiornamento dei dati aziendali"},"id":{"type":"string","description":"iD azienda"}}},"Address":{"type":"object","properties":{"registeredOffice":{"type":"object","properties":{"toponym":{"type":"string","description":"toponimo dell'indirizzo"},"street":{"type":"string","description":"indirizzo stradale"},"streetNumber":{"type":"string","description":"numero dell'indirizzo"},"streetName":{"type":"string","description":"nome completo della via in cui è situata l'azienda"},"town":{"type":"string","description":"Città in cui ha sede l'azienda"},"hamlet":{"type":"string","description":"Distretto in cui ha sede l'azienda"},"province":{"type":"string","description":"Contea (Provincia) in cui si trova l'azienda"},"zipCode":{"type":"string","description":"Codice di avviamento postale (CAP) in cui si trova l'azienda"},"gps":{"type":"object","properties":{"coordinates":{"type":"array","description":"coordinate di localizzazione dell'azienda (longitudine, latitudine)","items":{"type":"number","format":"double"}}}},"townCode":{"type":"string","description":"codice catastale comune (noto anche come codice nazionale o codice Belfiore)"},"region":{"type":"object","properties":{"code":{"type":"string","description":"Codice Area (Regione) in cui si trova l'ufficio"},"description":{"type":"string","description":"Nome completo dell'area (Regione) in cui si trova l'ufficio"}}}}}}},"Advanced":{"type":"object","properties":{"taxCode":{"type":"string","description":"Codice fiscale (Codice Fiscale)"},"companyName":{"type":"string","description":"Nome legale dell'azienda"},"vatCode":{"type":"string","description":"Numero di partita IVA (Partita IVA)"},"address":{"$ref":"#/components/schemas/Address"},"activityStatus":{"type":"string","description":"indica lo status dell'azienda secondo la Camera di Commercio Italiana","enum":["ATTIVA","REGISTRATA","INATTIVA","SOSPESA","IN_ISCRIZIONE","CESSATA"]},"reaCode":{"type":"string","description":"Numero di Repertorio Economico e Amministrativo per le Camere di Commercio"},"cciaa":{"type":"string","description":"Acronimo della città in cui è stata registrata l'azienda (ad esempio RM come Roma, MI come Milano ecc.)"},"atecoClassification":{"type":"object","properties":{"ateco":{"type":"object","properties":{"code":{"type":"string","description":"Codice ATECO 2025 di primo livello"},"description":{"type":"string","description":"Descrizione del primo livello Codice ATECO 2025"}}},"ateco2022":{"type":"object","properties":{"code":{"type":"string","description":"Codice ATECO 2022 di primo livello"},"description":{"type":"string","description":"Descrizione del primo livello Codice ATECO 2022"}}},"ateco2007":{"type":"object","properties":{"code":{"type":"string","description":"Codice ATECO 2007 di primo livello"},"description":{"type":"string","description":"Descrizione del primo livello Codice ATECO 2007"}}}}},"detailedLegalForm":{"$ref":"#/components/schemas/LegalForms"},"startDate":{"type":"string","description":"data di inizio dell'attività dell'azienda"},"registrationDate":{"type":"string","description":"data di registrazione della società presso la Camera di commercio"},"endDate":{"type":"string","description":"data di fine attività dell'azienda"},"pec":{"type":"string","description":"posta certificata aziendale"},"taxCodeCeased":{"type":"boolean","description":"indica se la società è cessata o meno secondo l'Ufficio delle imposte"},"taxCodeCeasedTimestamp":{"type":"integer","description":"Ultimo aggiornamento di cessato o no"},"vatGroup":{"$ref":"#/components/schemas/VatGroup"},"creationTimestamp":{"type":"integer","description":"data interna di creazione della società"},"lastUpdateTimestamp":{"type":"integer","description":"Ultimo aggiornamento dei dati aziendali"},"sdiCode":{"type":"string","description":"codice sdi"},"sdiCodeTimestamp":{"type":"integer","description":"Ultimo aggiornamento del codice sdi"},"balanceSheets":{"$ref":"#/components/schemas/BalanceSheets"},"shareHolders":{"$ref":"#/components/schemas/ShareHolders"},"id":{"type":"string","description":"iD azienda"}}},"BalanceSheets":{"type":"object","properties":{"last":{"type":"object","properties":{"year":{"type":"integer","description":"Anno di presentazione dell'ultimo bilancio"},"balanceSheetDate":{"type":"string","description":"Data di presentazione dell'ultimo bilancio"},"turnover":{"type":"integer","description":"ricavi annui"},"netWorth":{"type":"integer","description":"profitto annuale"},"employees":{"type":"integer","description":"numero di dipendenti"},"shareCapital":{"type":"integer","description":"capitale sociale della società"},"totalStaffCost":{"type":"integer","description":"costo del personale dell'azienda"},"totalAssets":{"type":"integer","description":"totale delle attività della società"},"avgGrossSalary":{"type":"number","format":"float","description":"stipendio medio lordo dell'azienda"}}},"all":{"type":"array","items":{"type":"object","properties":{"year":{"type":"integer","description":"Anno di presentazione dell'ultimo bilancio"},"balanceSheetDate":{"type":"string","description":"Data di presentazione dell'ultimo bilancio"},"turnover":{"type":"integer","description":"ricavi annui"},"netWorth":{"type":"integer","description":"profitto annuale"},"employees":{"type":"integer","description":"numero di dipendenti"},"shareCapital":{"type":"integer","description":"capitale sociale della società"},"totalStaffCost":{"type":"integer","description":"costo del personale dell'azienda"},"totalAssets":{"type":"integer","description":"totale delle attività della società"},"avgGrossSalary":{"type":"number","format":"float","description":"stipendio medio lordo dell'azienda"}}}}}},"ShareHolders":{"type":"array","items":{"type":"object","properties":{"companyName":{"type":"string","description":"Nome legale dell'azionista"},"name":{"type":"string","description":"Nome dell'azionista"},"surname":{"type":"string","description":"Cognome dell'azionista"},"taxCode":{"type":"string","description":"Codice fiscale dell'azionista"},"percentShare":{"type":"number","format":"double","description":"Percentuale di proprietà della società (%)"}}}},"DataEnrichmentAddress":{"type":"object","properties":{"taxCode":{"type":"string","description":"Codice fiscale (Codice Fiscale)"},"companyName":{"type":"string","description":"Nome legale dell'azienda"},"vatCode":{"type":"string","description":"Numero di partita IVA (Partita IVA)"},"address":{"$ref":"#/components/schemas/Address"},"creationTimestamp":{"type":"integer","description":"data interna di creazione della società"},"lastUpdateTimestamp":{"type":"integer","description":"Ultimo aggiornamento dei dati aziendali"},"id":{"type":"string","description":"iD azienda"}}},"DataEnrichmentPec":{"type":"object","properties":{"taxCode":{"type":"string","description":"Codice fiscale (Codice Fiscale)"},"companyName":{"type":"string","description":"Nome legale dell'azienda"},"vatCode":{"type":"string","description":"Numero di partita IVA (Partita IVA)"},"id":{"type":"string","description":"iD azienda"},"pec":{"type":"string","description":"posta certificata aziendale"},"history":{"type":"array","items":{"type":"object","properties":{"pec":{"type":"string","description":"posta certificata aziendale"},"timestamp":{"type":"integer","description":"timestamp fino al quale è stato attivo"}}}}}},"DataEnrichmentShareholders":{"type":"object","properties":{"taxCode":{"type":"string","description":"Codice fiscale (Codice Fiscale)"},"companyName":{"type":"string","description":"Nome legale dell'azienda"},"vatCode":{"type":"string","description":"Numero di partita IVA (Partita IVA)"},"id":{"type":"string","description":"iD azienda"},"shareHolders":{"$ref":"#/components/schemas/ShareHolders"}}},"VatGroup":{"type":"object","properties":{"vatGroupParticipation":{"type":"boolean","description":"partecipazione dell'azienda al gruppo IVA"},"isVatGroupLeader":{"type":"boolean","description":"se la società è a capo del gruppo IVA"},"registryOk":{"type":"boolean","description":"se i dati dell'azienda sono corretti"}}},"VatGroupTaxCode":{"type":"object","properties":{"vatGroupParticipation":{"type":"boolean","description":"partecipazione dell'azienda al gruppo IVA"},"isVatGroupLeader":{"type":"boolean","description":"se la società è a capo del gruppo IVA"},"registryOk":{"type":"boolean","description":"se i dati dell'azienda sono corretti"},"taxCodeVatCodeConsistent":{"type":"boolean","description":"coerenza tra il codice fiscale e il numero di partita IVA inseriti"},"taxCodePresent":{"type":"boolean","description":"se il Codice Fiscale appartiene o meno al Gruppo IVA"},"taxCodeEntrant":{"type":"boolean","description":"presenza o assenza del Codice Fiscale al Gruppo IVA"},"vatGroupMembers":{"type":"array","description":"serie di codici fiscali presenti nel gruppo IVA","items":{"type":"string"}}}},"LegalForms":{"type":"object","properties":{"code":{"type":"string","description":"codice legale dell'azienda"},"description":{"type":"string","description":"descrizione del codice legale"}}},"EuStart":{"type":"object","properties":{"valid":{"type":"boolean","description":"se il numero di partita IVA è valido"},"formatValid":{"type":"boolean","description":"se il numero di partita IVA è formalmente valido"},"countryCode":{"type":"string","description":"codice paese dell'azienda"},"vatCode":{"type":"string","description":"Numero di partita IVA (Partita IVA)"},"companyName":{"type":"string","description":"Nome legale dell'azienda"},"companyAddress":{"type":"string","description":"indirizzo dell'azienda"}}},"Split":{"type":"object","properties":{"taxCode":{"type":"string","description":"Codice fiscale (Codice Fiscale)"},"companyName":{"type":"string","description":"Nome legale dell'azienda"},"companyType":{"type":"string","description":"categoria aziendale"},"startingDateTimestamp":{"type":"integer","description":"data effettiva di assoggettamento allo split payment"},"lastUpdateTimestamp":{"type":"integer","description":"timestamp dell'aggiornamento"}}},"Pa":{"type":"object","properties":{"paId":{"type":"integer","description":"id dell'istituzione"},"companyName":{"type":"string","description":"Nome legale dell'azienda"},"taxCode":{"type":"string","description":"Codice fiscale (Codice Fiscale)"},"vatCode":{"type":"string","description":"Numero di partita IVA (Partita IVA)"},"establishmentDate":{"type":"string","description":"data di costituzione"},"terminationDate":{"type":"string","description":"data di cessazione"},"atecoClassification":{"type":"object","properties":{"ateco":{"type":"object","properties":{"code":{"type":"string","description":"Codice ATECO di primo livello"},"description":{"type":"string","description":"Descrizione del primo livello Codice ATECO"}}}}},"detailedLegalForm":{"type":"object","properties":{"code":{"type":"string","description":"codice legale dell'azienda"},"description":{"type":"string","description":"descrizione del codice legale"}}},"phone":{"type":"string","description":"Numero di telefono dell'azienda"},"fax":{"type":"string","description":"Numero di fax dell'azienda"},"url":{"type":"string","description":"URL del sito web"},"managerName":{"type":"string","description":"Nome del responsabile"},"managerSurname":{"type":"string","description":"Cognome del responsabile"},"managerTitle":{"type":"string","description":"Titolo del responsabile"},"address":{"type":"object","properties":{"registeredOffice":{"type":"object","properties":{"town":{"type":"object","properties":{"code":{"type":"string","description":"codice catastale comune (noto anche come codice nazionale o codice Belfiore)"},"number":{"type":"string","description":"numero civico"},"description":{"type":"string","description":"nome della città in cui ha sede l'azienda"},"istat":{"type":"string","description":"Codice ISTAT"}}},"province":{"type":"object","properties":{"code":{"type":"string","description":"codice provincia"},"number":{"type":"string","description":"numero di provincia"},"description":{"type":"string","description":"nome della provincia in cui ha sede l'azienda"}}},"toponym":{"type":"string","description":"toponimo dell'indirizzo"},"street":{"type":"string","description":"indirizzo stradale"},"streetNumber":{"type":"string","description":"numero dell'indirizzo"},"streetName":{"type":"string","description":"nome completo della via in cui è situata l'azienda"},"hamlet":{"type":"string","description":"Distretto in cui ha sede l'azienda"},"zipCode":{"type":"string","description":"Codice di avviamento postale (CAP) in cui si trova l'azienda"},"region":{"type":"object","properties":{"code":{"type":"string","description":"codice regione"},"description":{"type":"string","description":"nome della regione in cui si trova l'azienda"}}},"area":{"type":"object","properties":{"code":{"type":"string","description":"codice area"},"description":{"type":"string","description":"nome dell'area in cui si trova l'azienda"}}}}}}},"participationStatus":{"type":"string","description":"stato di partecipazione"},"siopeEntityCode":{"type":"string","description":"Codice entità SIOPE"},"siopeTypeId":{"type":"string","description":"Id del tipo SIOPE"},"siopeTypeCode":{"type":"string","description":"Codice del tipo SIOPE"},"siopeTypeDescription":{"type":"string","description":"Descrizione del tipo SIOPE"},"siopeInclusionDate":{"type":"string","description":"Data di inclusione SIOPE"},"siopeExclusionDate":{"type":"string","description":"Data di esclusione SIOPE"},"ipaEntityCode":{"type":"string","description":"Codice ente IPA"},"ipaCategoryId":{"type":"string","description":"Id categoria IPA"},"ipaCategoryCode":{"type":"string","description":"Codice categoria IPA"},"ipaCategoryDescription":{"type":"string","description":"Descrizione della categoria IPA"},"ipaTypeCode":{"type":"string","description":"Codice del tipo IPA"},"ipaTypeDescription":{"type":"string","description":"Descrizione del tipo di IPA"},"ipaInclusionDate":{"type":"string","description":"Data di inclusione dell'IPA"},"ipaExclusionDate":{"type":"string","description":"Data di esclusione IPA"},"miurEntityCode":{"type":"string","description":"Codice ente MIUR"},"miurTypeId":{"type":"string","description":"ID tipo MIUR"},"miurTypeCode":{"type":"string","description":"Codice tipo MIUR"},"miurTypeDescription":{"type":"string","description":"Descrizione del tipo di MIUR"},"dtTypeId":{"type":"string","description":"DT type id"},"dtTypeCode":{"type":"string","description":"Codice tipo DT"},"dtTypeDescription":{"type":"string","description":"Descrizione del tipo di DT"},"ssnEntityCode":{"type":"string","description":"Codice ente SSN"},"s13IstatEntityCode":{"type":"string","description":"Codice entità ISTAT S13"},"s13IstatTypeId":{"type":"string","description":"ID tipo ISTAT S13"},"s13IstatTypeCode":{"type":"string","description":"Codice tipo ISTAT S13"},"s13IstatTypeDescription":{"type":"string","description":"Descrizione del tipo ISTAT S13"},"s13IstatInclusionDate":{"type":"string","description":"Data di inclusione ISTAT S13"},"s13IstatExclusionDate":{"type":"string","description":"Data di esclusione ISTAT S13"},"dlgs1182011TypeId":{"type":"string","description":"DLGS 118 2011 type id"},"dlgs1182011TypeCode":{"type":"string","description":"Codice tipo DLGS 118 2011"},"dlgs1182011TypeDescription":{"type":"string","description":"Descrizione del tipo DLGS 118 2011"},"dlgs1182011InclusionDate":{"type":"string","description":"DLGS 118 2011 data di inserimento"},"dlgs1182011ExclusionDate":{"type":"string","description":"DLGS 118 2011 data di esclusione"},"lastUpdateTimestamp":{"type":"integer","description":"Ultimo aggiornamento dei dati aziendali"},"pa":{"type":"boolean","description":"è una pubblica amministrazione o no"},"paInvoicingOffice":{"type":"array","items":{"$ref":"#/components/schemas/Office"}}}},"Office":{"type":"object","properties":{"administrationCode":{"type":"string","description":"codice di amministrazione"},"ouCode":{"type":"string","description":"codice ou"},"sdiCode":{"type":"string","description":"codice sdi"},"ouDescription":{"type":"string","description":"ou descrizione"},"region":{"type":"string","description":"nome della regione in cui si trova l'ufficio"},"province":{"type":"string","description":"codice della provincia in cui si trova l'ufficio"},"town":{"type":"string","description":"nome della città in cui si trova l'ufficio"},"streetName":{"type":"string","description":"nome completo della via in cui si trova l'ufficio"},"zipCode":{"type":"string","description":"Codice di avviamento postale (CAP) in cui è ubicato l'ufficio"},"taxCode":{"type":"string","description":"Codice fiscale (Codice Fiscale)"},"taxCodeVerificationDate":{"type":"string","description":"Data di verifica del codice fiscale"},"sfeStartDate":{"type":"string","description":"Data di inizio Sfe"},"lastUpdateTimestamp":{"type":"integer","description":"Ultimo aggiornamento dei dati dell'ufficio"}}},"PostBody":{"type":"object","properties":{"callback":{"$ref":"#/components/schemas/Callback"}}},"Callback":{"type":"object","properties":{"method":{"type":"string","description":"Indicare il metodo con cui si desidera ricevere i dati con il callback; per impostazione predefinita, è POST","enum":["POST","JSON"]},"field":{"type":"string","description":"Nome del campo contenente i dati di ritorno della callback (obbligatorio con il metodo: POST)"},"url":{"type":"string","description":"Url dove verrà effettuata la chiamata di callback","example":"https://www.mysite.it/callback.php"},"headers":{"type":"object","properties":{"key":{"type":"string"}},"description":"contiene stringhe chiave:valore che si desidera far arrivare come intestazioni","example":{"session_id":"9834r5fh589494"}},"data":{"type":"object","description":"Oggetto da completare a proprio piacimento con dati aggiuntivi che possono essere riutilizzati con il callback"}}},"Request":{"type":"object","properties":{"state":{"type":"string","description":"stato di richiesta","enum":["PENDING","DONE"]},"id":{"type":"string","description":"id della richiesta"}}},"FrStart":{"type":"object","properties":{"siretCode":{"type":"string","description":"Identificatore univoco locale (Companies House ID; KvK; Camera di Commercio; ecc.)"},"companyName":{"type":"string","description":"Nome legale dell'azienda"},"tradingName":{"type":"string","description":"Il nome con cui l'azienda opera, se diverso dal nome registrato"},"aliasName":{"type":"string","description":"Un nome alternativo con cui un'azienda può essere conosciuta"},"sirenCode":{"type":"string","description":"Identificatore univoco locale (Companies House ID; KvK; Camera di Commercio; ecc.); differisce da siretCode perché non include l'ID della filiale, se applicabile"},"coCode":{"type":"string","description":"Numero di registrazione alternativo della società"},"activityStatus":{"type":"string","description":"stato dell'azienda","enum":["ACTIVE","CEASED"]},"registrationDate":{"type":"string","description":"Data di costituzione della Società"},"vatCode":{"type":"string","description":"Numero di partita IVA"},"address":{"$ref":"#/components/schemas/FrAddress"},"creationTimestamp":{"type":"integer","description":"data interna di creazione della società"},"lastUpdateTimestamp":{"type":"integer","description":"Ultimo aggiornamento dei dati aziendali"},"id":{"type":"string","description":"iD azienda"}}},"FrAdvanced":{"type":"object","properties":{"siretCode":{"type":"string","description":"Identificatore univoco locale (Companies House ID; KvK; Camera di Commercio; ecc.)"},"companyName":{"type":"string","description":"Nome legale dell'azienda"},"tradingName":{"type":"string","description":"Il nome con cui l'azienda opera, se diverso dal nome registrato"},"aliasName":{"type":"string","description":"Un nome alternativo con cui un'azienda può essere conosciuta"},"sirenCode":{"type":"string","description":"Identificatore univoco locale (Companies House ID; KvK; Camera di Commercio; ecc.); differisce da siretCode perché non include l'ID della filiale, se applicabile"},"coCode":{"type":"string","description":"Numero di registrazione alternativo della società"},"activityStatus":{"type":"string","description":"stato dell'azienda","enum":["ACTIVE","CEASED"]},"creditWorthy":{"type":"integer","description":"Indicatore se l'azienda è meritevole di credito, 0 - No, 1 - Sì","enum":[0,1]},"registrationDate":{"type":"string","description":"Data di costituzione della Società"},"vatCode":{"type":"string","description":"Numero di partita IVA"},"address":{"$ref":"#/components/schemas/FrAddress"},"internationalClassification":{"type":"object","properties":{"naf":{"type":"object","properties":{"code":{"type":"string","description":"Codice Naf"},"description":{"type":"string","description":"Descrizione del codice Naf"}}},"nace":{"type":"object","properties":{"code":{"type":"string","description":"Codice Nace"},"description":{"type":"string","description":"Descrizione del Codice Nace"}}}}},"detailedLegalForm":{"type":"object","properties":{"code":{"type":"string","description":"codice legale dell'azienda"},"description":{"type":"string","description":"descrizione del codice legale"}}},"balanceSheets":{"$ref":"#/components/schemas/FrBalanceSheets"},"creationTimestamp":{"type":"integer","description":"data interna di creazione della società"},"lastUpdateTimestamp":{"type":"integer","description":"Ultimo aggiornamento dei dati aziendali"},"allOffice":{"type":"array","items":{"type":"object","properties":{"siretCode":{"type":"string","description":"Identificatore univoco locale (Companies House ID; KvK; Camera di Commercio; ecc.)"},"companyName":{"type":"string","description":"Nome legale dell'azienda"},"address":{"$ref":"#/components/schemas/FrAddress"},"activityStatus":{"type":"string","description":"stato dell'azienda","enum":["ACTIVE","CEASED"]}}}},"id":{"type":"string","description":"iD azienda"}}},"FrAddress":{"oneOf":[{"$ref":"#/components/schemas/Registered"},{"$ref":"#/components/schemas/Branch"}]},"Registered":{"type":"object","properties":{"registeredOffice":{"type":"object","properties":{"street":{"type":"string","description":"indirizzo stradale secondo il database pubblico National Address"},"streetNumber":{"type":"string","description":"numero dell'indirizzo secondo la banca dati pubblica degli indirizzi nazionali"},"streetName":{"type":"string","description":"nome completo della via in cui si trova l'azienda secondo la Camera di Commercio"},"streetName2":{"type":"string","description":"Riga 2 dell'indirizzo registrato della società secondo la Camera di commercio. Di solito è facoltativo"},"streetName3":{"type":"string","description":"Riga 3 dell'indirizzo registrato della società secondo la Camera di commercio. Di solito è facoltativo"},"streetName4":{"type":"string","description":"Riga 4 dell'indirizzo registrato dall'azienda secondo la Camera di Commercio; di solito si tratta di regione, provincia, contea o stato"},"town":{"type":"string","description":"Città in cui ha sede l'azienda secondo la Camera di Commercio"},"zipCode":{"type":"string","description":"Codice di avviamento postale in cui si trova l'azienda secondo la Camera di Commercio"},"country":{"type":"string","description":"Il paese dell'azienda registrata secondo la Camera di Commercio"},"gps":{"type":"object","properties":{"coordinates":{"type":"array","description":"coordinate della sede dell'azienda secondo il database pubblico National Address (longitudine, latitudine)","items":{"type":"number","format":"double"}}}},"townCode":{"type":"string","description":"Codice INSEE del comune secondo la banca dati pubblica dell'Indirizzo Nazionale"},"department":{"type":"object","properties":{"code":{"type":"string","description":"codice INSEE del dipartimento secondo la banca dati pubblica dell'indirizzo nazionale"},"description":{"type":"string","description":"descrizione del dipartimento INSEE secondo la banca dati pubblica dell'indirizzo nazionale"}}},"region":{"type":"object","properties":{"code":{"type":"string","description":"regione Codice INSEE secondo la banca dati pubblica dell'indirizzo nazionale"},"description":{"type":"string","description":"regione Descrizione INSEE secondo la banca dati pubblica dell'indirizzo nazionale"}}}}}}},"Branch":{"type":"object","properties":{"branchOffice":{"type":"object","properties":{"street":{"type":"string","description":"indirizzo stradale secondo il database pubblico National Address"},"streetNumber":{"type":"string","description":"numero dell'indirizzo secondo la banca dati pubblica degli indirizzi nazionali"},"streetName":{"type":"string","description":"nome completo della via in cui si trova l'azienda secondo la Camera di Commercio"},"streetName2":{"type":"string","description":"Riga 2 dell'indirizzo registrato della società secondo la Camera di commercio. Di solito è facoltativo"},"streetName3":{"type":"string","description":"Riga 3 dell'indirizzo registrato della società secondo la Camera di commercio. Di solito è facoltativo"},"streetName4":{"type":"string","description":"Riga 4 dell'indirizzo registrato dall'azienda secondo la Camera di Commercio; di solito si tratta di regione, provincia, contea o stato"},"town":{"type":"string","description":"Città in cui ha sede l'azienda secondo la Camera di Commercio"},"zipCode":{"type":"string","description":"Codice di avviamento postale in cui si trova l'azienda secondo la Camera di Commercio"},"country":{"type":"string","description":"Il paese dell'azienda registrata secondo la Camera di Commercio"},"gps":{"type":"object","properties":{"coordinates":{"type":"array","description":"coordinate della sede dell'azienda secondo il database pubblico National Address (longitudine, latitudine)","items":{"type":"number","format":"double"}}}},"townCode":{"type":"string","description":"Codice INSEE del comune secondo la banca dati pubblica dell'Indirizzo Nazionale"},"department":{"type":"object","properties":{"code":{"type":"string","description":"codice INSEE del dipartimento secondo la banca dati pubblica dell'indirizzo nazionale"},"description":{"type":"string","description":"descrizione del dipartimento INSEE secondo la banca dati pubblica dell'indirizzo nazionale"}}},"region":{"type":"object","properties":{"code":{"type":"string","description":"regione Codice INSEE secondo la banca dati pubblica dell'indirizzo nazionale"},"description":{"type":"string","description":"regione Descrizione INSEE secondo la banca dati pubblica dell'indirizzo nazionale"}}}}}}},"FrBalanceSheets":{"type":"object","properties":{"last":{"type":"object","properties":{"year":{"type":"integer","description":"Anno di presentazione dell'ultimo bilancio"},"balanceSheetDate":{"type":"string","description":"Data di presentazione dell'ultimo bilancio"},"turnover":{"type":"number","format":"float","description":"ricavi annui"},"netWorth":{"type":"number","format":"float","description":"profitto annuale"},"employees":{"type":"integer","description":"numero di dipendenti"},"ebitda":{"type":"number","format":"float","description":"ebitda della società"}}},"all":{"type":"array","items":{"type":"object","properties":{"year":{"type":"integer","description":"Anno di presentazione dell'ultimo bilancio"},"balanceSheetDate":{"type":"string","description":"Data di presentazione dell'ultimo bilancio"},"turnover":{"type":"number","format":"float","description":"ricavi annui"},"netWorth":{"type":"number","format":"float","description":"profitto annuale"},"employees":{"type":"integer","description":"numero di dipendenti"},"ebitda":{"type":"number","format":"float","description":"ebitda della società"}}}}}},"DeStart":{"type":"object","properties":{"id":{"type":"string","description":"iD azienda"},"companyName":{"type":"string","description":"Nome legale dell'azienda"},"vatCode":{"type":"string","description":"Numero di partita IVA in formato europeo"},"companyNumber":{"type":"string","description":"numero di società dal registro delle imprese tedesco"},"leiCode":{"type":"string","description":"Identificatore di entità giuridica. Si tratta di un codice alfanumerico univoco di 20 caratteri, assegnato a ciascuna entità giuridica (società, fondi, organizzazioni non profit, ecc.) che opera sui mercati finanziari a livello globale"},"activityStatus":{"type":"string","description":"stato dell'azienda","enum":["ACTIVE","DISSOLVED","INACTIVE (NO PRECISION)","ACTIVE (DORMANT)","STATUS UNKNOWN","IN LIQUIDATION","DISSOLVED (LIQUIDATION)","ADMINISTRATIVELY SUSPENDED","DISSOLVED (MERGER OR TAKE-OVER)","DISSOLVED (BANKRUPTCY)","ACTIVE (ADMINISTRATIVELY NON-COMPLIANT)","BANKRUPTCY","ACTIVE (INSOLVENCY PROCEEDINGS)","ACTIVE (DEFAULT OF PAYMENT)","ACTIVE (REORGANIZATION)","DISSOLVED (DEMERGER)","ACTIVE (RESCUE PLAN)"]},"incorporationDate":{"type":"string","description":"Data di costituzione della Società"},"address":{"$ref":"#/components/schemas/DeAddress"},"lastUpdateTimestamp":{"type":"integer","description":"Ultimo aggiornamento dei dati aziendali"}}},"DeAddress":{"type":"object","properties":{"registeredOffice":{"type":"object","properties":{"streetNumber":{"type":"string","description":"numero dell'indirizzo"},"streetName":{"type":"string","description":"nome completo della via in cui è situata l'azienda"},"town":{"type":"string","description":"Città in cui ha sede l'azienda"},"zipCode":{"type":"string","description":"Codice di avviamento postale della sede dell'azienda"},"country":{"type":"string","description":"Il codice ISO2 del paese in cui ha sede l'azienda"},"gps":{"type":"object","properties":{"coordinates":{"type":"array","description":"coordinate di localizzazione dell'azienda (longitudine, latitudine)","items":{"type":"number","format":"double"}}}}}}}},"DeAdvanced":{"type":"object","properties":{"id":{"type":"string","description":"iD azienda"},"companyName":{"type":"string","description":"Nome legale dell'azienda"},"vatCode":{"type":"string","description":"Numero di partita IVA in formato europeo"},"companyNumber":{"type":"string","description":"numero di società dal registro delle imprese tedesco"},"leiCode":{"type":"string","description":"Identificatore di entità giuridica. Si tratta di un codice alfanumerico univoco di 20 caratteri, assegnato a ciascuna entità giuridica (società, fondi, organizzazioni non profit, ecc.) che opera sui mercati finanziari a livello globale"},"activityStatus":{"type":"string","description":"stato dell'azienda","enum":["ACTIVE","DISSOLVED","INACTIVE (NO PRECISION)","ACTIVE (DORMANT)","STATUS UNKNOWN","IN LIQUIDATION","DISSOLVED (LIQUIDATION)","ADMINISTRATIVELY SUSPENDED","DISSOLVED (MERGER OR TAKE-OVER)","DISSOLVED (BANKRUPTCY)","ACTIVE (ADMINISTRATIVELY NON-COMPLIANT)","BANKRUPTCY","ACTIVE (INSOLVENCY PROCEEDINGS)","ACTIVE (DEFAULT OF PAYMENT)","ACTIVE (REORGANIZATION)","DISSOLVED (DEMERGER)","ACTIVE (RESCUE PLAN)"]},"incorporationDate":{"type":"string","description":"Data di costituzione della Società"},"address":{"$ref":"#/components/schemas/DeAddress"},"lastUpdateTimestamp":{"type":"integer","description":"Ultimo aggiornamento dei dati aziendali"},"contacts":{"type":"object","properties":{"fax":{"type":"string","description":"Il numero di fax dell'azienda registrato presso la Camera di Commercio"},"phone":{"type":"string","description":"Il numero di telefono dell'azienda registrato presso le camere di commercio"},"website":{"type":"string","description":"Il sito web principale dell'azienda"}}},"internationalClassification":{"type":"object","properties":{"nace":{"type":"object","properties":{"code":{"type":"string","description":"Codice Nace"},"description":{"type":"string","description":"Descrizione del Codice Nace"}}},"naics":{"type":"object","properties":{"code":{"type":"string","description":"Codice Naics"},"description":{"type":"string","description":"Descrizione del codice Naics"}}},"sic":{"type":"object","properties":{"code":{"type":"string","description":"Codice Sic"},"description":{"type":"string","description":"Descrizione del codice Sic"}}}}},"balanceSheets":{"$ref":"#/components/schemas/WwBalanceSheets"}}},"WwBalanceSheets":{"type":"object","properties":{"last":{"type":"object","properties":{"year":{"type":"integer","description":"Anno di presentazione dell'ultimo bilancio"},"balanceSheetDate":{"type":"string","description":"Data di presentazione dell'ultimo bilancio"},"employees":{"type":"integer","description":"numero di dipendenti"},"netWorth":{"type":"number","format":"float","description":"profitto annuale"},"operatingRevenue":{"type":"number","format":"float","description":"Valore totale della produzione"},"equity":{"type":"number","format":"float","description":"valore residuo delle attività di un'azienda dopo che tutte le passività sono state sottratte"},"totalAssets":{"type":"number","format":"float","description":"Totale attività"}}},"all":{"type":"array","items":{"type":"object","properties":{"year":{"type":"integer","description":"Anno di presentazione dell'ultimo bilancio"},"balanceSheetDate":{"type":"string","description":"Data di presentazione dell'ultimo bilancio"},"employees":{"type":"integer","description":"numero di dipendenti"},"netWorth":{"type":"number","format":"float","description":"profitto annuale"},"operatingRevenue":{"type":"number","format":"float","description":"Valore totale della produzione"},"equity":{"type":"number","format":"float","description":"valore residuo delle attività di un'azienda dopo che tutte le passività sono state sottratte"},"totalAssets":{"type":"number","format":"float","description":"Totale attività"}}}}}},"EsStart":{"type":"object","properties":{"id":{"type":"string","description":"iD azienda"},"companyName":{"type":"string","description":"Nome legale dell'azienda"},"vatCode":{"type":"string","description":"Numero di partita IVA in formato europeo"},"taxCode":{"type":"string","description":"codice fiscale"},"leiCode":{"type":"string","description":"Identificatore di entità giuridica. Si tratta di un codice alfanumerico univoco di 20 caratteri, assegnato a ciascuna entità giuridica (società, fondi, organizzazioni non profit, ecc.) che opera sui mercati finanziari a livello globale"},"activityStatus":{"type":"string","description":"stato dell'azienda","enum":["ACTIVE","DISSOLVED","INACTIVE (NO PRECISION)","ACTIVE (DORMANT)","STATUS UNKNOWN","IN LIQUIDATION","DISSOLVED (LIQUIDATION)","ADMINISTRATIVELY SUSPENDED","DISSOLVED (MERGER OR TAKE-OVER)","DISSOLVED (BANKRUPTCY)","ACTIVE (ADMINISTRATIVELY NON-COMPLIANT)","BANKRUPTCY","ACTIVE (INSOLVENCY PROCEEDINGS)","ACTIVE (DEFAULT OF PAYMENT)","ACTIVE (REORGANIZATION)","DISSOLVED (DEMERGER)","ACTIVE (RESCUE PLAN)"]},"incorporationDate":{"type":"string","description":"Data di costituzione della Società"},"address":{"$ref":"#/components/schemas/EsAddress"},"lastUpdateTimestamp":{"type":"integer","description":"Ultimo aggiornamento dei dati aziendali"}}},"EsAddress":{"type":"object","properties":{"registeredOffice":{"type":"object","properties":{"streetNumber":{"type":"string","description":"numero dell'indirizzo"},"streetName":{"type":"string","description":"nome completo della via in cui è situata l'azienda"},"town":{"type":"string","description":"Città in cui ha sede l'azienda"},"zipCode":{"type":"string","description":"Codice di avviamento postale della sede dell'azienda"},"country":{"type":"string","description":"Il codice ISO2 del paese in cui ha sede l'azienda"},"gps":{"type":"object","properties":{"coordinates":{"type":"array","description":"coordinate di localizzazione dell'azienda (longitudine, latitudine)","items":{"type":"number","format":"double"}}}}}}}},"EsAdvanced":{"type":"object","properties":{"id":{"type":"string","description":"iD azienda"},"companyName":{"type":"string","description":"Nome legale dell'azienda"},"vatCode":{"type":"string","description":"Numero di partita IVA in formato europeo"},"taxCode":{"type":"string","description":"codice fiscale"},"leiCode":{"type":"string","description":"Identificatore di entità giuridica. Si tratta di un codice alfanumerico univoco di 20 caratteri, assegnato a ciascuna entità giuridica (società, fondi, organizzazioni non profit, ecc.) che opera sui mercati finanziari a livello globale"},"activityStatus":{"type":"string","description":"stato dell'azienda","enum":["ACTIVE","DISSOLVED","INACTIVE (NO PRECISION)","ACTIVE (DORMANT)","STATUS UNKNOWN","IN LIQUIDATION","DISSOLVED (LIQUIDATION)","ADMINISTRATIVELY SUSPENDED","DISSOLVED (MERGER OR TAKE-OVER)","DISSOLVED (BANKRUPTCY)","ACTIVE (ADMINISTRATIVELY NON-COMPLIANT)","BANKRUPTCY","ACTIVE (INSOLVENCY PROCEEDINGS)","ACTIVE (DEFAULT OF PAYMENT)","ACTIVE (REORGANIZATION)","DISSOLVED (DEMERGER)","ACTIVE (RESCUE PLAN)"]},"incorporationDate":{"type":"string","description":"Data di costituzione della Società"},"address":{"$ref":"#/components/schemas/EsAddress"},"lastUpdateTimestamp":{"type":"integer","description":"Ultimo aggiornamento dei dati aziendali"},"contacts":{"type":"object","properties":{"fax":{"type":"string","description":"Il numero di fax dell'azienda registrato presso la Camera di Commercio"},"phone":{"type":"string","description":"Il numero di telefono dell'azienda registrato presso le camere di commercio"},"website":{"type":"string","description":"Il sito web principale dell'azienda"}}},"internationalClassification":{"type":"object","properties":{"nace":{"type":"object","properties":{"code":{"type":"string","description":"Codice Nace"},"description":{"type":"string","description":"Descrizione del Codice Nace"}}},"naics":{"type":"object","properties":{"code":{"type":"string","description":"Codice Naics"},"description":{"type":"string","description":"Descrizione del codice Naics"}}},"sic":{"type":"object","properties":{"code":{"type":"string","description":"Codice Sic"},"description":{"type":"string","description":"Descrizione del codice Sic"}}}}},"balanceSheets":{"$ref":"#/components/schemas/WwBalanceSheets"}}},"PtStart":{"type":"object","properties":{"id":{"type":"string","description":"iD azienda"},"companyName":{"type":"string","description":"Nome legale dell'azienda"},"vatCode":{"type":"string","description":"Numero di partita IVA in formato europeo"},"taxCode":{"type":"string","description":"codice fiscale"},"leiCode":{"type":"string","description":"Identificatore di entità giuridica. Si tratta di un codice alfanumerico univoco di 20 caratteri, assegnato a ciascuna entità giuridica (società, fondi, organizzazioni non profit, ecc.) che opera sui mercati finanziari a livello globale"},"activityStatus":{"type":"string","description":"stato dell'azienda","enum":["ACTIVE","DISSOLVED","INACTIVE (NO PRECISION)","ACTIVE (DORMANT)","STATUS UNKNOWN","IN LIQUIDATION","DISSOLVED (LIQUIDATION)","ADMINISTRATIVELY SUSPENDED","DISSOLVED (MERGER OR TAKE-OVER)","DISSOLVED (BANKRUPTCY)","ACTIVE (ADMINISTRATIVELY NON-COMPLIANT)","BANKRUPTCY","ACTIVE (INSOLVENCY PROCEEDINGS)","ACTIVE (DEFAULT OF PAYMENT)","ACTIVE (REORGANIZATION)","
[...]
